    body {
    background: linear-gradient(180deg, rgb(174, 52, 223) 0%, rgb(66, 202, 252) 100%);
    background-size: 100vw 100vh;
    overflow: hidden;
    }
    div {
    position: fixed;
    font-size: 130px;
    }
    header {
        float: left;
        height: 100%;
    }
    header>input {
        cursor: pointer;
        /*background: transparent;
        -webkit-appearance: none; */
    }
