  body {
    padding: 50px;
    margin: 0;
    overflow: hidden;
  }
  header {
    display: flex;
    justify-content: flex-start;
  }
  header>h1 {
    margin: 10px;
  }
  #flyContainer {
    width: 1820px;
    height: 750px;
    border: 8px solid skyblue;
    background: url("clouds.jpg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  #flyObject {
    width: 75px;
    height: 75px;
    background-color: #9900CC;
    border-radius: 50%;
    border: 8px pink solid; 
    
    transform: translate3d(50px, 50px,0);
    transition: transform .3s cubic-bezier(0,.64,.52,.24); 

    
  }
  input {
    cursor: pointer;
  }
